body {
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    background-color: lavender;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    width: 40px;
    padding: 20px;
}

.nav-items {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.nav-items>li {
    padding: 10px;
}

.footer {
    background-color: slategrey;
    color: aliceblue;
    padding: 10px 30px;
    text-align: right;
}